{% extends "blog/base.html" %}

{% block body_block %}
   <div class="jumbotron" id="login-page">
     <h2 >Please login!</h2>
     <h3>Must be superuser</h3>
     {% if form.error %}
        <h6>Invalid credentials!</h6>
     {% endif %}

     <form  action="{% url 'login' %}" method="post">
       {% csrf_token %}
       {{form.as_p}}

       <input type="submit" class='btn btn-success' value="Login"/>
       <!-- NOTE NO IDEA WHAT THIS IS -->
       <input type="hidden" name="next" value="{{next}}"/>

     </form>
   </div>

{% endblock %}
