{% for comment in comments.all %}
<div class="card">
  {% if comment.parent_comment %}

  <div class="card-content sec-card" style="padding:0px;">
    {% include "blog/comment_detail.html" with comment=comment %}
  </div>
  <div class="card-content sec-card grey lighten-4" style="padding:0px;">
      <p style="font-style:italic;"> In response to</p>
      {% include "blog/comment_detail.html" with comment=comment.parent_comment%}
  </div>

{% endif %}
</div>

<div class="card" style="background-color: rgb(199, 210, 226);">
  {% if comment.author.is_superuser and not comment.parent_comment %}
  <div class="card-content" style="padding:3px;">
    {% include "blog/comment_detail.html" with comment=comment %}
  </div>
  {% endif %}
</div>
{% endfor %}
