<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}

      {% endblock %}
    </title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </head>
  <body>

    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="{% url 'blog:home' %}" class="brand-logo">GenSec</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'blog:event_list' %}">Ongoing Work</a></li>
            <li><a href="{% url 'blog:post_list' %}">Suggestions/Complaints</a></li>
          </ul>
        </div>
      </nav>

    </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'blog:event_list' %}">Ongoing Work</a></li>
      <li><a href="{% url 'blog:post_list' %}">Suggestions/Complaints</a></li>
    </ul>

    {% block content %}

    {% endblock %}

    <br><br><br><br>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <!-- <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Ask me anything!</h5>
            <ul>
              <li> <p class = "grey-text text-lighten-3"> Email: nihalshetty013@gmail.com</p>  </li>
              <li> <p class = "grey-text text-lighten-3"> Phone: +91 9482260459</p>  </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Locos WebTeam
        </div>
      </div>
    </footer>

<script>
$(document).ready(function(){
  $('.sidenav').sidenav();
});
</script>


  </body>
</html>
