{% extends "blog/base.html" %}
{% block content %}
{% load static %}

<div class="container">
    <div class="card-panel teal z-depth-4">
      <span class="white-text" style="font-size:150%;">This is a template for the proposed platform for a more transparent and engaging administration within the jurisdiction
      of General Secretary, which, I believe, should be brought forth irrespective of me being elected or not.
      </span>
      <br>
      <footer class="blockquote-footer" > <cite title="Source Title" style="font-size:120%;"> - Nihal Shetty, Contesting for General Secretary </cite></footer>

</div>
<br><br>
<div class="container">
   <div class="row">
    <div class="col s12 m5 " style="margin:2%;">
      <a class="waves-effect waves-light btn center-align z-depth-2" href="{% url 'blog:post_list' %}" style="background-color:rgb(104, 159, 242)">Suggestions/Complaints</a>
    </div>
    <div class="col s12 m5" style="margin:2%; ">
      <a class="waves-effect waves-light btn center-align z-depth-2" href="{% url 'blog:event_list' %}" style="background-color:rgb(104, 159, 242)">Ongoing Events</a>
    </div>
   </div>
</div>

</div>

<div class="row">
  <div class="col s12 m4">
    <div class="card z-depth-3" style="background-color:rgb(234, 96, 96);">
      <div class="container">
        <div class="card-content white-text">
          <i class="large material-icons" style="margin-left:30%;">accessibility</i>
          <span class="card-title" style="margin-left:25%;">Accessibilty</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card z-depth-3" style="background-color:rgb(234, 96, 96);">
      <div class="container">
        <div class="card-content white-text">
          <i class="large material-icons" style="margin-left:33%;">import_contacts</i>
          <span class="card-title" style="margin-left:25%;">Transparency</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card z-depth-3" style="background-color:rgb(234, 96, 96);">
      <div class="container">
        <div class="card-content white-text">
          <i class="large material-icons" style="margin-left:30%;">group</i>
          <span class="card-title" style="margin-left:25%;">Democracy</span>
        </div>
      </div>
    </div>
  </div>
</div>




  <div class=" row">
    <div class="tdm-con">
      <div class="col s12 m6 l4 offset-l2" style="overflow:hidden;">
        <img src="{%static 'blog/images/shetty.jpeg' %}" alt="Poster here" class="tdm-con-img2 z-depth-4" style="margin-top:40%;">
      </div>

      <div class="container card-stacked col s12 m6 l4 tdm-content">
  <div class="card" style="width:100%;">
    <div class="card-content" style="font-family: 'Muli', sans-serif;">
          <h3>VISION </h3>
          <p class="flow-text">
            Hello, I am Nihal Shetty, one of the candidates contesting for the post of General Secretary.
            I believe, in order to create an administration not based on utopian promises, it is imperative that
            a platform such as this must exist. On this portal, students can view the current proceedings of matters
            in the jurisdiction of the General Secretary, as well as provide suggestions/post complaints.
          </p>

          <p class="flow-text">
            Let's face it, not every problem can be solved. But that does not mean you shouldn't know why.If elected,
            I intend to address as many as possible grievances/suggestions within my capabilities, and do either of the two -
            solve it, or tell you why it cannot be solved. Also, to maintain transparency, I shall try my best to keep you updated
            about the progress of ongoing work.
          </p>
    </div>

    <div class="card-content grey lighten-4" style="font-family: 'Muli', sans-serif;">
          <b class="flow-text">
           This elections, let's vote uninfluenced. Let's vote for NITK.
         </b>
    </div>
  </div>
      </div>
  </div>
  </div>
{% endblock %}
